/* .header {
  border: 1px solid red;
  display: flex;
  gap: rem;
}

.news {
  border: 2px solid blue;
  background-color: antiquewhite;
}

.mainNews {
  padding: 20px;
}

.bgRed {
  background-color: red;
}

#mainDiv {
  background-color: black;
} */

/* part 2 */

.main {
  /* background-color: rgb(113, 117, 67); */
  border: 5px solid red;
  width: 400px;
}

.title {
  margin: 40px;
  border: 5px solid blue;
  padding: 51px;
  font-size: 40px;
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.tit2 {
  margin-top: 200px;
  padding-top: 400px;
}
